.banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.banner-container {
  width: 85%;
  background: #0d0d0d;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 40px;

  background-image: radial-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  background-size: 6px 6px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.banner-left {
  width: 50%;
}

.banner-tag {
  background: #ff7a00;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.banner-title {
  margin-top: 12px;
  font-size: 34px;
  font-weight: bold;
}

.banner-price-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.banner-discount {
  width: 110px;
  height: 110px;
  background: #ff5c2a;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-discount .big {
  font-size: 30px;
  font-weight: bold;
}

.banner-discount .small {
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.6;
}

.new-price {
  font-size: 30px;
  font-weight: bold;
  color: #ff7a00;
}

.banner-benefits {
  margin-top: 15px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.banner-btn {
  margin-top: 25px;
  background: #ff7a00;
  border: none;
  padding: 14px 34px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.img-frame {
  background: #ff7a00;
  padding: 10px;
  border-radius: 15px;
  transform: rotate(-5deg);
}

.img-frame img {
  width: 350px;
  border-radius: 10px;
}
